aniso8601==7.0.0
astroid==2.3.0
atomicwrites==1.3.0
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
Django==2.1.4
django-admin==2.0.0
django-cors-headers==3.1.0
django-environ==0.4.5
django-excel-response2==2.0.8
django-filter==1.1.0
django-graphql-jwt==0.1.5
django-six==1.0.4
django-templated-mail==1.1.1
djangorestframework==3.10.3
djangorestframework-filters==0.11.1
djangorestframework-jwt==1.11.0
djoser==2.0.3
docker==4.1.0
fastdiff==0.2.0
graphene==2.1.8
graphene-django==2.2.0
graphene-jwt-auth-registration==1.0.0
graphql-core==2.2.1
graphql-relay==2.0.0
idna==2.8
importlib-metadata==0.23
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
more-itertools==7.2.0
packaging==19.2
Pillow==6.2.1
pluggy==0.13.0
promise==2.2.1
py==1.8.0
PyJWT==1.7.1
pylint==2.4.0
pyparsing==2.4.5
pytest==5.2.2
python-http-client==3.2.1
pytz==2019.2
requests==2.22.0
Rx==1.6.1
screen==1.0.1
sendgrid==6.1.0
singledispatch==3.4.0.3
six==1.12.0
snapshottest==0.5.1
termcolor==1.1.0
typed-ast==1.2.0
urllib3==1.25.7
wasmer==0.3.0
wcwidth==0.1.7
websocket-client==0.56.0
wrapt==1.11.2
xlwt==1.3.0
zipp==0.6.0
