	
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Email Verification</title>
   <style>
 
       .card {
           font-family: "Helvetica Neue";
           text-align: center;
           margin: auto;
           width: 40%;
       }
 
       .btn {
           padding: 7px;
           margin-bottom: 10px;
           background: #993CF3;
           color: #fff;
           border-radius: 5px;
       }
 
   </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <p class="card-text text-center"><strong>{{ small_text_detail }}</strong></p>
            <p class="text-center">{{ email }}</p>
            <a class="text-center verify-button" href="http://{{ domain }}{% url "activate"  token=token %}">
                <button type="button" class="btn">Verify Account</button>
            </a>
        </div>
    </div>
</body>
</html>